.modul8_container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    min-height: 100%
}

.modul8_header {
    flex-grow: 0;
    height: 95px;
    background: #6666EE;
    color: #EEEEEE;
}

.modul8_content {
    flex-grow: 1;
    padding: 10px;
}

.modul8_footer {
    flex-grow: 0;
    height: 25px;
    background: #6666EE;
    color: #EEEEEE;
    justify-content: center
}

.nav-link {
    color: #DDDDDD;
    background-color: #8888EE;
    margin-left: 10px
}

footer a {
    color: #DDDDDD;
}