<div class="modul8_container">

  <div class="modul8_header">
    <nav class="navbar">
      <div class="nav navbar-brand">
        <h1>ARTfeeling</h1>
        <h5>by Ellen Jervis</h5>
      </div>
      <ul class="nav nav-pills justify-content-end">
        <li class="nav-item"><a class="nav-link" href="#portfolio">Portfolio</a></li>
        <li class="nav-item"><a class="nav-link" href="#rentawork">Rent-a-work</a></li>
      </ul>
    </nav>
  </div>
  
  <div class="modul8_content">
    <a name="portfolio">
      <modul8-portfolio></modul8-portfolio> 
    </a>
    
    <a name="rentawork">
      <h2>Intrested in renting an artwork ?</h2>
      terms and conditions go here
    </a>
  </div>
  
  <div class="modul8_footer">
    <footer>
      &copy; by <a href="mailto:ellen.jervis@hotmail.com">Ellen Jervis</a> - 2018
    </footer>
  </div>
  
</div>