.modul8_container {
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}

.modul8_container > * {
    flex: 1 100%;
  }

.modul8_header {
    flex-flow: 1;
    height: 95px;
    background: #6666EE;
    color: #EEEEEE;
}

.modul8_content {
    flex-flow: 2;
}

.modul8_footer {
    flex-flow: 1;
    height: 25px;
    background: #6666EE;
    color: #EEEEEE;
}
